/* TODO(you): Write the CSS to finish the assignment! */

.choice-grid div {
    width: 32.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-width: 1px;
    border-color: #dcdcdc;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choice-grid div img {
    width: 100%;
}

.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.choice-grid img .checkbox {
    margin-top: 0;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 699px) {
    article {
        width: 95%;
    }
    header div span {
        display: none;
    }
}

@media screen and (max-width: 499px) {
    .choice-grid div {
        width: 49%;
    }
}

.selected-item {
    background-color: #cfe3ff;
}